<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Заголовок</title>
  </head>

  <body>
    <div id="root">
    	{% include "./components/Header/header.twig" %}
		{% include "./index.twig" %}
    	{% include "./components/Footer/footer.twig" %}
    </div>
  </body>
</html>